.features-fluid {
    padding: 16px;
    position: relative;

    .closemodel {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .flag-data {
        padding: 10px 0px;

        .example-chip-list {
            width: 100%;
        }
    }

    .features-list {
        .feature-form {
            .listing {
                display: flex;
                padding: 6px 4px;
                margin: 4px 0px;
                justify-content: space-between;

                mat-slide-toggle {
                    margin-right: 4px;
                }

                .feature {
                    display: flex;

                    mat-icon {
                        cursor: pointer;
                    }

                    .name {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            display: flex;
            align-items: center;
            padding: 4px 8px;

            mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
                margin-right: 6px;
            }
        }
    }

    .control-label {
        font-size: 18px;
        font-weight: 600;
    }
}

mat-chip-grid {
    max-height: 80px;
    overflow: auto;
}

mat-chip-grid::-webkit-scrollbar {
    width: 12px;
}

mat-chip-grid::-webkit-scrollbar-track {
    background: #f1f1f1;
}

mat-chip-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

mat-chip-grid::-webkit-scrollbar-thumb:hover {
    background: #555;
}


mat-chip-grid {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


mat-chip-grid::-ms-scrollbar {
    width: 12px;
}

mat-chip-grid::-ms-scrollbar-track {
    background: #f1f1f1;
}

mat-chip-grid::-ms-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

mat-chip-grid::-ms-scrollbar-thumb:hover {
    background: #555;
}